<!DOCTYPE html>
<html ng-app='sysinfo'>
	<head>
		<meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
		<meta charset='UTF-8'/>
		<title translate='title'>System Information</title>
		<link rel='stylesheet' type='text/css' href='css/index.css'/>
		<script type='text/javascript' src='js/angular.min.js'></script>
		<script type='text/javascript' src='js/angular-sanitize.min.js'></script>
		<script type='text/javascript' src='js/angular-websocket.min.js'></script>
		<script type='text/javascript' src='js/angular-translate.min.js'></script>
	</head>
	<body ng-controller='sysinfoController'>
		<div ng-repeat='(name, info) in sysinfo'>
			<h3 ng-bind='name'></h3>
			<p ng-if='info === undefined' translate='msg_offline'></p>
			<p ng-if="info.stat === 'connecting'" translate='connecting'></p>
			<div class='table-hor' ng-if="info.stat === 'normal'">
				<table>
					<tr>
						<th ng-if='info.data.cpu_temp !== undefined' translate='cpu_temp'></th>
						<th ng-if='info.data.gpu_temp !== undefined' translate='gpu_temp'></th>
						<th ng-if='info.data.cpu_usage !== undefined' translate='cpu_usage'></th>
						<th ng-if='info.data.mem_usage !== undefined' translate='mem_usage'></th>
						<th ng-if='info.data.battery_level !== undefined' translate='battery_level'></th>
						<th ng-if='info.data.boot_time !== undefined' translate='boot_time'></th>
					</tr>
					<tr>
						<td ng-if='info.data.cpu_temp !== undefined' ng-bind='info.data.cpu_temp | filter_temperature'></td>
						<td ng-if='info.data.gpu_temp !== undefined' ng-bind='info.data.gpu_temp | filter_temperature'></td>
						<td ng-if='info.data.cpu_usage !== undefined' ng-bind='info.data.cpu_usage | filter_percent:1'></td>
						<td ng-if='info.data.mem_usage !== undefined' ng-bind='info.data.mem_usage | filter_percent:1'></td>
						<td ng-if='info.data.battery_level !== undefined' ng-bind='info.data.battery_level | filter_percent:0:1'></td>
						<td ng-if='info.data.boot_time !== undefined' ng-bind='info.data.boot_time | filter_boot_time'></td>
					</tr>
				</table>
				<h4 class='network-speed' translate='network_speed'></h4>
				<table>
					<tr><th colspan='2' ng-repeat='(dev, info) in info.data.network_stat' ng-bind='dev'></th></tr>
					<tr>
						<td ng-repeat-start='info in info.data.network_stat' translate='network_rx_speed'></td>
						<td ng-repeat-end='ng-repeat-end' translate='network_tx_speed'></td>
					</tr>
					<tr>
						<td class='network-speed-value' ng-repeat-start='info in info.data.network_stat' ng-bind='info.rx_speed | filter_network_speed'></td>
						<td class='network-speed-value' ng-repeat-end='ng-repeat-end' ng-bind='info.tx_speed | filter_network_speed'></td>
					</tr>
				</table>
			</div>
			<div class='table-ver' ng-if="info.stat === 'normal'">
				<table>
					<tr ng-if='info.data.cpu_temp !== undefined'>
						<th translate='cpu_temp'></th>
						<td ng-bind='info.data.cpu_temp | filter_temperature'></td>
					</tr>
					<tr ng-if='info.data.gpu_temp !== undefined'>
						<th translate='gpu_temp'></th>
						<td ng-bind='info.data.gpu_temp | filter_temperature'></td>
					</tr>
					<tr ng-if='info.data.cpu_usage !== undefined'>
						<th translate='cpu_usage'></th>
						<td ng-bind='info.data.cpu_usage | filter_percent:1'></td>
					</tr>
					<tr ng-if='info.data.mem_usage !== undefined'>
						<th translate='mem_usage'></th>
						<td ng-bind='info.data.mem_usage | filter_percent:1'></td>
					</tr>
					<tr ng-if='info.data.battery_level !== undefined'>
						<th translate='battery_level'></th>
						<td ng-bind='info.data.battery_level | filter_percent:0:1'></td>
					</tr>
					<tr ng-if='info.data.boot_time !== undefined'>
						<th translate='boot_time'></th>
						<td ng-bind='info.data.boot_time | filter_boot_time'></td>
					</tr>
				</table>
				<h4 class='network-speed' translate='network_speed'></h4>
				<table>
					<tr ng-repeat-start='(dev, info) in info.data.network_stat'>
						<th rowspan='2' ng-bind='dev'></th>
						<td translate='network_rx_speed'></th>
						<td class='network-speed-value' ng-bind='info.rx_speed | filter_network_speed'></th>
					</tr>
					<tr ng-repeat-end='ng-repeat-end'>
						<td translate='network_tx_speed'></th>
						<td class='network-speed-value' ng-bind='info.tx_speed | filter_network_speed'></th>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='js/index.js'></script>
</html>

