body{
	margin:0;
	padding:0;
	color: rgb(47, 53, 66);
	background-color: rgb(241, 242, 246);
	font-family: Sans;
	font-size:16px;
}
input, button{
	outline: none;
}
button:hover{
	cursor: pointer;
}
input[type="file"]{
	display:none;
}
button, #btn_file_upload{
	border:none;
	background: none;
	padding: 0 10px;
	min-width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	position:relative;
	margin:0;
	font-family: Sans;
	font-size: 14px;
}
#btn_file_upload {
	padding:0;
}
#btn_file_upload label{
	display:block;
	padding: 0 10px;
	height: 100%;
}
#btn_file_upload label:hover{
	cursor: pointer;
}
input[type="text"]{
	border:none;
	background:#70a1ff;
	padding: 2px 6px;
	color: #ffffff;
	border-radius: 2px;
}

.main-menu {
	background-color: rgb(55, 66, 250);
}
.main-menu button, .main-menu #btn_file_upload{
	color: #ffffff;
}
.main-menu button:hover, .main-menu #btn_file_upload:hover{
	background-color: rgb(30, 144, 255);
}
.char-editor .editor-menu{
	background-color: rgb(223, 228, 234);
	color: rgb(47, 53, 66);
	vertical-align:middle;
}
.char-editor .editor-menu button{
	color: rgb(47, 53, 66);
}
.char-editor .editor-menu button:hover{
	background-color:rgb(206, 214, 224);
}
.char-editor canvas{
	background: #FFFFFF;
	display:block;
	border-radius: 4px;
	padding: 2px;
	margin:8px;
}
#show_char{
	display:inline-block;
	background-color:rgb(238, 240, 244);
	border-radius: 4px;
	padding:2px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	overflow:hidden;
	font-weight:normal;
	margin: 6px 7px 6px 14px;
	vertical-align: middle;
}
#canvasANK {
	width: 170px;
	height: 340px;
	margin-left: 93px;
}
#canvasKanji {
	width: 340px;
	height: 340px;
}
#logger_element{
	display:none;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:6em;
	font-size:1em;
	line-height:1.1em;
	font-family:monospace;
	font-weight:normal;
	color:#000;
	background:none;
	border:none;
	margin:0;
	padding:0;
	opacity:0.5;
}
