body {
	margin: 0;
	padding: 40px 0 10px 0;
	background-color: #bdc3c7;
}
h1{
	position: fixed;
	left:0;
	top:0;
	right:0;
	line-height: 40px;
	background-color: #409EFF;
	color: #ffffff;
	margin: 0;
	padding: 0 10px;
	font-weight: normal;
	font-size: 24px;
}
.joke{
	background-color: #ffffff;
	color: #2c3e50;
	padding: 8px;
	margin: 8px 0;
}
.joke .title{
	font-size: 18px;
	border-bottom: 1px solid #eeeeee;
	margin: 0 0 8px 0;
	padding: 0;
}
.joke .text{
	margin: 0;
	padding: 0;
}
