body {
	font-family: sans, Arial;
}
table {
	border-collapse: collapse;
}
th {
	text-align: left;
}
th, td {
	border: 1px solid black;
	padding: 0 4px;
}
h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 10px 0;
}
.table-hor {
	display: table;
}
.table-ver {
	display: none;
}
@media screen and (max-width: 500px){
	.table-hor {
		display: none;
	}
	.table-ver {
		display: table;
	}
}
