<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
        <meta charset='utf-8'/>
        <title>试试Vue.js</title>
        <style>
template{display:none;}
#logger_element{
	display:block;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:6em;
	font-size:1em;
	line-height:1.1em;
	font-family:monospace;
	font-weight:normal;
	color:#000;
	background-color:#ccc;
	border-top:1px solid #000;
	margin:0;
	padding:0;
}
        </style>
        <script type='text/javascript' src='mobile_logger.js'></script>
        <script type='text/javascript'>
window.addEventListener('load', function(){
	MobileLogger.bind(document.getElementById('logger_element'));
});
        </script>
        <script type='text/javascript' src='vue.js'></script>
        <script type='text/javascript' src='vue-router.js'></script>
    </head>
    <body>
        <div id='main'>
            <h1>哈哈哈～～～{{msg}}</h1>
            <input v-model='searchStr'/>
			<p>
				<router-link to="/">Home</router-link>
				<router-link to="/about">About</router-link>
				<router-link to="/miao">Miao</router-link>
			</p>
            <router-view></router-view>
            <div v-for='c in str'>{{c}}</div>
        </div>
        <pre id='logger_element'></pre>
    </body>
	<template id='home'>
		<div>
			<p>Home</p>
            <input v-model='searchStr'/>
			<div>{{searchStr}}</div>
			<div>{{msg | repeat('烫', '锟斤拷')}}</div>
		</div>
	</template>
	<template id='about'>
		<div>
			<p>About</p>
			<p>{{time}}</p>
			<p>{{msg}}</p>
		</div>
	</template>
	<template id='miao'><p>Miao</p></template>
    <script type='text/javascript'>
Vue.use(VueRouter);
Vue.filter('repeat', function(val, text, a){
	var result = a;
	for (var i = 0; i < val.length; i++) {
		result += text;
	}
	return result;
});

var Home = {
	template: document.getElementById('home'),
	data: function(){
		return {
			searchStr: 'Miao',
		};
	},
	props: {
		msg: String,
	},
	beforeRouteEnter: function(to, from, next){
		console.log('enter');
		console.log(to);
		console.log(from);
		next();
	},
	beforeRouteLeave: function(to, from, next){
		console.log('leave');
		console.log(to);
		console.log(from);
		next();
	},
}
var About = {
	template: document.getElementById('about'),
	props: {
		time: String,
		msg: String,
	},
};
var Miao = {
	template: document.getElementById('miao'),
}
    
var vm = new Vue({
	el: '#main',
	data: {
		msg:'a',
		searchStr:'',
		str:'',
		time: '',
	},
	watch:{
		searchStr: function(val){
			this.str = val;
		},
	},
	router: new VueRouter({
		routes:[
			{
				path: '/',
				component: Home,
				props: function(){
					return {
						msg: vm ? vm.$data.str : '',
					};
				},
			},
			{
				path: '/about',
				component: About,
				props: function(){
					return {
						time: vm ? vm.$data.time : String(new Date()),
						msg: vm ? vm.$data.str : '',
					};
				},
			},
			{path: '/miao', component: Miao},
		]
	}),
});
setTimeout(function(){
	vm.$data.msg = 'Frank!!!';
}, 1000);
setInterval(function(){
	vm.$data.time = String(new Date());
}, 1000);
    </script>
</html>
