<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
        <meta charset='utf-8'/>
        <title>试试Vue.js</title>
        <style>
template{display:none;}
#logger_element{
	display:block;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:6em;
	font-size:1em;
	line-height:1.1em;
	font-family:monospace;
	font-weight:normal;
	color:#000;
	background-color:#ccc;
	border-top:1px solid #000;
	margin:0;
	padding:0;
}
        </style>
        <script type='text/javascript' src='mobile_logger.min.js'></script>
        <script type='text/javascript'>
window.addEventListener('load', function(){
	MobileLogger.bind(document.getElementById('logger_element'));
});
        </script>
        <script type='text/javascript' src='vue.js'></script>
        <script type='text/javascript' src='vue-router.js'></script>
    </head>
    <body>
        <div id='main'>
            <h1>哈哈哈～～～{{msg}}</h1>
            <input v-model='searchStr'/>
            <div v-for='c in str'>{{c}}</div>
			<p>
				<router-link to="/">Home</router-link>
				<router-link to="/about">About</router-link>
				<router-link to="/miao">Miao</router-link>
			</p>
            <router-view></router-view>
        </div>
        <pre id='logger_element'></pre>
    </body>
	<template id='home'><p>Home</p></template>
	<template id='about'><p>About <span>{{time0}}</span></p></template>
	<template id='miao'><p>Miao</p></template>
    <script type='text/javascript'>
Vue.use(VueRouter);

var Home = { template: document.getElementById('home') }
var About = {
	template: document.getElementById('about'),
	data: function(){
		return {
			time0: 'aaa',
		};
	},
	//props: ['time0'],
	created() {
    	this.$root.ebus.$on('updateTime',function(time) {
    		this.time0 = time;
    		console.log(time);
		});
	},
};
var Miao = { template: document.getElementById('miao') }
    
var router = new VueRouter({
	routes:[
		{path: '/', component: Home},
		{path: '/about', component: About},
		{path: '/miao', component: Miao},
	]
});

var vm = new Vue({
	el: '#main',
	data: {
		ebus: new Vue(),
		msg:'a',
		searchStr:'',
		str:'',
		time0: String(new Date()),
	},
	watch:{
		searchStr: function(val){
			this.str = val;
		},
	},
	router:router,
});
setTimeout(function(){
	vm.$data.msg = 'Frank!!!';
}, 1000);
setTimeout(function(){
	vm.$data.time0 = String(new Date());
	vm.$data.ebus.$emit('updateTime', vm.$data.time0);
}, 1000);
    </script>
</html>
