<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
		<meta charset='UTF-8'/>
		<title>System Information</title>
		<link rel='stylesheet' type='text/css' href='css/index.css'/>
		<script type='text/javascript' src='js/underscore-min.js'></script>
		<script type='text/javascript' src='js/lang.min.js'></script>
		<script type='text/javascript' src='js/sysinfo_manager.js'></script>
		<script type='text/javascript' src='js/display_manager.js'></script>
	</head>
	<body></body>
	<script type="text/template" id="tpl_instance">
<div class='instance' id="<%=_.escape(serverId)%>">
	<h2><%=_.escape(serverName)%></h2>
	<p class='sysinfo'><%=lang.get('sysinfo.connecting')%></p>
	<p class='timeout' hidden='hidden'></p>
</div>
	</script>
	<script type="text/template" id="tpl_sysinfo">
<table class='table-hor'>
	<tr>
		<% _.each(items, function(item){ %>
			<th><%=_.escape(lang.get(item.name))%></th>
		<% }); %>
	</tr>
	<tr>
		<% _.each(items, function(item){ %>
			<td class="<%=_.escape(item.id)%>"></td>
		<% }); %>
	</tr>
</table>
<table class='table-ver'>
	<% _.each(items, function(item){ %>
		<tr>
			<th><%=_.escape(lang.get(item.name))%></th>
			<td class="<%=_.escape(item.id)%>"></td>
		</tr>
	<% }); %>
</table>
	</script>
	<script type='text/javascript'>
document.title = lang.get('sysinfo.title');
var displayManager = new DisplayManager(document.body);
var sysinfoManager = new SysinfoManager();

var xhr = new XMLHttpRequest();
xhr.addEventListener('readystatechange', function(e) {
	if (this.readyState != 4 || this.status != 200) {
		return;
	}

	var SERVER_LIST = JSON.parse(this.responseText);
	sysinfoManager.setServerList(SERVER_LIST);
	sysinfoManager.setErrorHandler(function(e, n, d){
		if ('timeout' == e) {
			displayManager.renderTimeout('sysinfo_'+n, d.timeout);
		} else {
			console.log(n,e);
			displayManager.renderOffline('sysinfo_'+n);
		}
	});
	sysinfoManager.setMessageHandler(function(msg, n){
		try{
			displayManager.renderData('sysinfo_'+n, msg);
		} catch(e) {
			console.log(e);
		}
	});

	for (var name in SERVER_LIST) {
		displayManager.register('sysinfo_'+name, name);
	}

	sysinfoManager.start();
});
xhr.open("GET", 'serverlist.json?t='+(new Date().getTime()), true);
xhr.send(null);
	</script>
</html>

